<center>
<p class='lead'>Ask me a question.</p>

<%= form_for @question do |f| %>
  <div class='control-group'>
  <%= f.text_area :body, placeholder: "What is the meaning of life?" %>
  </div>

  <div class='control-group'>
  <p><%= f.submit "Ask", class: 'btn btn-success' %></p>
  </div>
<% end %>

<div id="bottom-right">
	<p class='small'><%= link_to "View all asked questions", questions_path %></p>
</div>

<% if @readable != nil %>
<p class='lead'><%= @readable %></p>
<% else %>
<% end %>

</center>