<center>
<p class='lead'>Ask me a question.</p>

<%= form_for @question do |f| %>
  <div class='control-group'>
  <%= f.text_area :body %>
  </div>

  <div class='control-group'>
  <p><%= f.submit "Ask", class: 'btn btn-success', placeholder: "What is the meaning of life?" %></p>
  </div>
<% end %>

<div id="bottom-right">
	<p class='small'><%= link_to "Answer a question", questions_path %></p>
</div>

<div class='span8 well'>
<p class='lead'><%= @readable %></p>
</div>
</center>